.caja{
	background-color: #F5D0A9;
	text-align:center;
	width: 50%;
	padding: 20px;
	margin-left:auto;
	margin-right: auto;
	border: 6px solid purple;


}
p{
	padding: 10px;
	margin:20px;
	margin-top: 20px;
	background-color: white;
	border: 2px dashed darkgreen;
}